.blocolado{
    display: inline-block;
    margin-right: 10px;
}

.container {
    display: flex;
    align-items: center; 
}

.imagem {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.texto:hover {
    color: blue;
}

.texto2:hover{
    color: red;
}

body{
    border: 5px solid;
}

header{
    border: 2px solid;
    background-color: black;
}

header nav ul li{
    display: inline;
    padding-right: 10px;
}

header nav ul li a{
    color: white;
    transition: color 0.3s;
}
footer div a{
    display: inline;
    color: white;
    transition: color 0.3s;
}

footer div{
    padding-right: 20px;
    margin: 0 10px;
}

footer{
    background-color: black;
    border: 2px solid;
    text-align: left;
}

footer h4{
    color: white;
}
